h1 {
    color: green;
}
nav {
    width: 75%;
    height: 40px;
    background-color: rgb(36, 186, 255);
}
nav a {
    float: left;
    width: 100px;
    text-decoration: none;
    line-height: 40px;
    color: black;
    text-align: center;
}
nav a:first-child {
    width: 250px;
    line-height: 40px;
    font-size: 23px;
    color: yellow;
    font-weight: bold;
    text-shadow: 5px 5px 5px black;
    
}
nav a:hover {
    background-color: rgb(174, 237, 253);
}
nav a:last-child {
    float: right;
}
nav+p {
    clear: both;
}
span {
    color: rgb(64, 255, 47)
}
button {
    color: white;
    background-color: rgb(48, 169, 250);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: rgb(126, 245, 241);
}